<input type="hidden" id="chat_id" value="{{chat.dataValues.id}}">
<input type="hidden" id="user_id" value="{{user.id}}">
<input type="hidden" id="user_nome" value="{{user.nome}}">

<a href='/chat' class="text-muted chat-link">←- Voltar para as conversas</a>

<div class="card mt-3 shadow p-3 mb-4 bg-body rounded">
        <div class="card-body">
            <h4 class="text-center"> {{nickname}} 💬 </h4>
            <div class="body-messages">
            <ul class="messages text-break list-group" id="messages">
                {{#each mensagens}}
                    <li class="float-start small p-2 fs-6 border-bottom">
                        <b>{{dataValues.sender_nome}}: </b> {{dataValues.mensagem}} <small class="text white ms-1" style="font-size: 10px"> {{dataValues.createdAt}}</small></p>
                    </li>
                {{else}}
                    <li class="float-start small p-2 fs-6 border-bottom text-center">Envie uma mensagem!</li>
                {{/each}}
            </ul>
            </div>
            <br>
            <form id="form">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Digite seu comentário" aria-label="Digite seu comentário" aria-describedby="button-addon2" id="input">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Enviar</button>
            </div>
            </form>
        </div>
    </div>

<style>
    .body-messages {
        width: 100%;
        height: 400px;
        margin: 20px 0;
        border: 1px solid #ddd;
        overflow: auto;
    }

    .messages ul li {
        
        text-decoration: none;
    }

      #messages { list-style-type: none; margin: 0; padding: 0;}
      #messages > li { padding: 0.5rem 1rem;}
      #messages > li:nth-child(odd) { background: #efefef; }
</style>


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script><script  src="/js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>

<script>
    var socket = io()
    var chatId = document.getElementById('chat_id').value 
    socket.emit('connect_room', chatId);
    var messages = document.getElementById('messages');
    var form = document.getElementById('form');
    var input = document.getElementById('input');
    var sender_id = document.getElementById('user_id').value
    var sender_nome = document.getElementById('user_nome').value
    var data = new Date();
    var dia = String(data.getDate()).padStart(2, '0');
    var mes = String(data.getMonth() + 1).padStart(2, '0');
    var ano = data.getFullYear();
    dataAtual = dia + '/' + mes + '/' + ano;
     
    form.addEventListener('submit', function(e) {
        e.preventDefault()
        if (input.value) {
            socket.emit('private chat message', input.value, sender_id, sender_nome, dataAtual);
            input.value = ''
        }
     })

    socket.on('private chat message', function(msg, sender_id, sender_nome, dataAtual) {
        var item = document.createElement('li');
        item.innerHTML = '<b>'+sender_nome+':</b> ' + msg + ' <small class="text white ms-1" style="font-size: 10px"> [' + dataAtual + ']</small></p>';    
        messages.appendChild(item);
        window.scrollTo(0, document.messages.scrollHeight);
    });
</script>
