

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .limit {
    overflow: hidden; /* Removendo barra de rolagem */
    text-overflow: ellipsis; /* Adicionando "..." ao final */
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Quantidade de linhas */
    -webkit-box-orient: vertical; 
  }

  .limit-1 {
    overflow: hidden; /* Removendo barra de rolagem */
    text-overflow: ellipsis; /* Adicionando "..." ao final */
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Quantidade de linhas */
    -webkit-box-orient: vertical; 
  }

  .mt-n098 {
    margin-top: -0.98rem !important;
  }

  .card-body > img{
    width: 100%;
    height: 100%;
  }

  .ms-n4 {
    margin-left: -10rem !important;
  }

</style>

<input type="hidden" id="totaUsers" value="{{usuarios.dataValues.count}}">
<div class="p-5 mb-4 bg-dark rounded-3 d-sm-flex">
  <div class="container-fluid py-5 text-white">
    <h1 class="display-5 fw-bold">Profissionais disponíveis</h1>
    <p class="col-md-8 fs-4 mt-2">Nesta parte você encontrará os pedreiros, pintores, eletricistas, mestre de obras entre muitos outros profissionais! Aperte no botão verificar para olhar seu perfil e comece um bate-papo com ele!</p>
    <p class="col-md-8 fs-5 fw-bold mt-4">↓ Selecione abaixo a profissão que você procura para agilizar a pesquisa! 🕓</p>
    <form action="/usuario/profissoes/filtro" class="d-flex justify-content-start mt-4" method="POST">
      <select class="btn-primary form-select-lg rounded-3" name="filtro">
        <option class="bg-dark text-white align-baseline" value="0">Selecionar</option>
        {{#each profissionais}}
            <option class="bg-dark text-white align-baseline" value="{{dataValues.id}}">{{dataValues.profissao}}</option>
        {{else}}
            <option class="bg-dark text-white align-baseline" value="0">Nenhuma profissao registrada</option>
        {{/each}}
      </select>
      <button class="btn btn-outline-primary form-control-lg ms-2" type="submit">Filtrar</button>
    </form>
  </div>
  <div class="d-none d-xxl-block">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpngimg.com%2Fuploads%2Findustrial_worker%2Findustrial_worker_PNG11420.png&f=1&nofb=1" class="border-bottom border-3 ms-n4">  
  </div>
  <div class="d-none d-xl-block d-xxl-none">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpngimg.com%2Fuploads%2Findustrial_worker%2Findustrial_worker_PNG11420.png&f=1&nofb=1" class="border-bottom border-3 ms-n4">  
  </div>
  <div class="d-none d-lg-block d-xl-none">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpngimg.com%2Fuploads%2Findustrial_worker%2Findustrial_worker_PNG11420.png&f=1&nofb=1" class="border-bottom border-3">  
  </div>
</div>

{{#if total}}
  <p class="text-muted mb-2 ps-3"> --→ {{total}} resultados obtidos</p>
{{/if}}
    
<div class="container">
  <div class="row row-cols-2">
    {{#each usuarios}}
      <div class="col-lg-4">
        <div class="card mb-4 mt-4 shadow p-3 mb-5 bg-body rounded" style="min-height: 480px;">
          <div class="card-body text-center">
            <div class="d-flex justify-content-center align-items-center">
              <div class="avatar-apresentation">
                <div class="avatar-view">
                  <div style="background-image: url(/uploads/{{profile_img}});">
                  </div>
                </div>
              </div>
            </div>
            <h5 class="my-2 limit-1 fw-bold fs-5">{{nome}}</h5>
            <p class="text-muted mb-2">{{Profissionais.profissao}}</p>
            {{#if descricao}}
              <p class="card-text limit mb-2 mt-2">{{descricao}}</p>
            {{else}}
              <p class="card-text limit">Esse profissional não tem descricao</p>
              <p>.</p>
              <p class="mt-n098">.</p>                      
            {{/if}}
          <a href="/usuario/profissional/{{id}}" class="btn btn-primary mt-2 w-75">Verificar</a>
        </div>
      </div>
    </div>

    {{else}}
      <p class="text-white fs-3">Nehum profissional registrado 😥</p>
    {{/each}}
  </div>
</div>


