
    <div class="card text-white bg-secondary mb-3 mt-4" style="width: 25rem;">
        <div class="card-body">
            <input type="hidden" id="receptor_id" value="{{usuarios.dataValues.id}}">
            <input type="hidden" id="emissor_id" value="{{user.id}}">
            <input type="hidden" id="emissor_nome" value="{{user.nome}}">
            <h1>{{usuarios.dataValues.nome}}</h1>
            <hr>
            <p>E-mail para contato: {{usuarios.dataValues.email}}</p>
            <p>Localização: {{usuarios.dataValues.cidade}}</p>
            <!-- Parte onde devemos inserir a descrição do profissional e um botão para o chat -->
            <strong>Descrição:</strong><br>
            <p>{{usuarios.dataValues.descricao}}</p>
            <a href="/profissional/perfil/{{usuarios.dataValues.id}}" class="btn btn-primary">Editar perfil</a>
        </div>
    </div>

    <style>
        .body-messages {
            width: 100%;
            height: 400px;
            margin: 20px 0;
            border: 1px solid #ddd;
            padding: 20px;
    }

      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages > li { padding: 0.5rem 1rem; }
      #messages > li:nth-child(odd) { background: #efefef; }
    
    </style>

    <div class="card mt-4">
        <h5 class="card-header"> Chat 💬 </h5>
        <div class="card-body">
            <div class="body-messages">
            <ul class="messages" id="messages"></ul>
            </div>
            <br>
            <form id="form">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Digite sua mensagem" aria-label="Digite sua mensagem" aria-describedby="button-addon2" id="input">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Enviar</button>
            </div>
            </form>
        </div>
    </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
<script>
     var socket = io()
     var messages = document.getElementById('messages');
     var form = document.getElementById('form');
     var input = document.getElementById('input');
     var sender_id = document.getElementById('emissor_id').value
     var sender_nome = document.getElementById('emissor_nome').value
     var data = new Date();
     var dia = String(data.getDate()).padStart(2, '0');
     var mes = String(data.getMonth() + 1).padStart(2, '0');
     var ano = data.getFullYear();
     dataAtual = dia + '/' + mes + '/' + ano;

     
    form.addEventListener('submit', function(e) {
        e.preventDefault()
        if (input.value) {
            socket.emit('chat message', input.value, sender_id, sender_nome, dataAtual);
            input.value = ''
        }
     })

    socket.on('chat message', function(msg, sender_id, sender_nome, dataAtual) {
        var item = document.createElement('li');
        item.textContent = sender_nome + ': ' + msg + ' [' + dataAtual + '] ';
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
    });
</script>