
    <div class="card fs-6 box mb-5 mt-4 rounded-3 shadow p-3 mb-4 bg-body box">
        <div class="card-body">
            <input type="hidden" id="receptor_id" value="{{usuarios.dataValues.id}}">
            <input type="hidden" id="receptor_nome" value="{{usuarios.dataValues.nome}}">
            <input type="hidden" id="emissor_id" value="{{user.id}}">
            <input type="hidden" id="emissor_nome" value="{{user.nome}}">
            <div class="d-flex justify-content-start align-items-center">
                <div class="avatar-apresentation">
                    <div class="avatar-view">
                        <div style="background-image: url(/uploads/{{usuarios.dataValues.profile_img}});">
                        </div>
                    </div>
                </div>
                <h1 class="display-3 ms-3">{{usuarios.dataValues.nome}}</h1>
            </div>
            <hr>
            <p><b>Função: </b> {{usuarios.Profissionais.dataValues.profissao}}</p>
            <p><b>E-mail para contato:</b> {{usuarios.dataValues.email}}</p>
            <p><b>Localização:</b> {{usuarios.dataValues.cidade}}</p>
            <p><b>Telefone:</b> {{usuarios.dataValues.telefone}}</p>
            <div class="callout left-color">
                <strong>Descrição: </strong>
                <p>{{usuarios.dataValues.descricao}}</p>
            </div>
            {{#if validacao}}
                <a href="/profissional/perfil/{{usuarios.dataValues.id}}" class="btn btn-outline-primary mb-3 w-25">Editar perfil</a>
            {{/if}}
            <form action="/chat/new" method="post">
                <input type="hidden" name="receptor_id" value="{{usuarios.dataValues.id}}">
                <input type="hidden" name="receptor_nome" value="{{usuarios.dataValues.nome}}">
                <input type="hidden" name="receptor_img" value="{{usuarios.dataValues.profile_img}}">
                <input type="hidden" name="emissor_id" value="{{user.id}}">
                <input type="hidden" name="emissor_nome" value="{{user.nome}}">
                <input type="hidden" name="emissor_img" value="{{user.profile_img}}">
                <button type="submit" class="btn btn-primary w-25">Conversar agora</button>
            </form>
            {{#if usuarios.dataValues.funcao}}
            {{else}}
                <a class="btn btn-outline-primary mb-3 w-25" href="/usuario/cadastro-profissao/{{user.id}}">Cadastrar-se como Profissional</a>
            {{/if}}
        </div>
    </div>

    <style>
        .body-messages {
            width: 100%;
            height: 400px;
            margin: 20px 0;
            border: 1px solid #ddd;
            overflow: auto;
    }

    .card-body {
        z-index: 10;
    }

    .callout {
        
        padding: 1.25rem;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem; 
        border: 1px solid #e9ecef;
        border-left-width: .25rem;
        border-radius: .25rem;
    }

    .left-color {
        border-left-color: #585555;
    }

      #messages { list-style-type: none; margin: 0; padding: 0; background: #ffffff; }
      #messages > li { padding: 0.5rem 1rem; }

      .box {
       overflow: hidden;
      }
      
      .box::before {
          content: '';
          position: absolute;
          left: 35%;
          top: -120%;
          width: 340px;
          height: 350%;
          background: linear-gradient(#979696, #b3b1b1);
          animation: animate 4s linear infinite;
          
      }

      .box::after {
          content: '';
          position: absolute;
          inset: 1.5px;
          background: #ffffff;  
      }

      @keyframes animate {
          0%
          {
              transform: rotate(0deg);
          }
          100%
          {
              transform: rotate(360deg);
          }
      }
    
    </style>


</script>